# Add any directories, files, or patterns you don't want to be tracked by version control
sapfor/experts/Sapfor_2017/.idea/
sapfor/experts/Sapfor_2017/cmake-build-debug/
sapfor/experts/Sapfor_2017/.vs/
sapfor/experts/Sapfor_2017/_bin/
sapfor/experts/Sapfor_2017/_lib/
sapfor/experts/Sapfor_2017/Inliner/x64/
sapfor/experts/Sapfor_2017/Parser/x64/
sapfor/experts/Sapfor_2017/SageLib/x64/
sapfor/experts/Sapfor_2017/SageNewSrc/x64/
sapfor/experts/Sapfor_2017/SageOldSrc/x64/
sapfor/experts/Sapfor_2017/Sapfor/x64/
sapfor/experts/Sapfor_2017/TransformCommonLib/x64/
sapfor/experts/Sapfor_2017/TransformLib/x64/
sapfor/experts/Sapfor_2017/TransformUtils/x64/
dvm/fdvm/trunk/.svn/
sapfor/experts/Sapfor_2017/.svn/
sapfor/transformers/.svn/
sapfor/experts/Sapfor_2017/_src/boost
sapfor/experts/Sapfor_2017/Sapfor/Sapfor.vcxproj.user
